<html>
<head>
<title>add_question.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
add_question.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">android.support.design.widget.CoordinatorLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;#e4e4e4&quot;</span><span class="s2"> 
    </span><span class="s1">android:fitsSystemWindows=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.elegance.feedback.MainActivity&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">android.support.design.widget.AppBarLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:theme=</span><span class="s3">&quot;@style/AppTheme.AppBarOverlay&quot;</span><span class="s2">&gt; 
 
 
    &lt;/</span><span class="s4">android.support.design.widget.AppBarLayout</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/questionAddlayout&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">EditText</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:maxLength=</span><span class="s3">&quot;100&quot;</span><span class="s2"> 
            </span><span class="s1">android:maxLines=</span><span class="s3">&quot;3&quot;</span><span class="s2"> 
            </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;500dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
            </span><span class="s1">android:textColorHint=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
            </span><span class="s1">android:textSize=</span><span class="s3">&quot;22sp&quot;</span><span class="s2"> 
            </span><span class="s1">android:inputType=</span><span class="s3">&quot;textCapSentences&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/etQuestion&quot;</span><span class="s2"> 
            </span><span class="s1">android:hint=</span><span class="s3">&quot;@string/question_hint&quot;</span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">RadioGroup</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/addQRadioBut&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">&gt; 
            &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
                &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColorHint=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/radio1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
                &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/radio2&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 2&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
            &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
                &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 3&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/radio3&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
                &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 4&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/radio4&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
            &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
        &lt;/</span><span class="s4">RadioGroup</span><span class="s2">&gt; 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/addQCheck1&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
                &lt;</span><span class="s4">CheckBox</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/check1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
                &lt;</span><span class="s4">CheckBox</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 2&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/check2&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
            &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/addQCheck2&quot;</span><span class="s2"> 
            </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
            &lt;</span><span class="s4">CheckBox</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 3&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/check3&quot;</span><span class="s2"> 
                </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
            &lt;</span><span class="s4">CheckBox</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 4&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/check4&quot;</span><span class="s2"> 
                </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/ratPrev&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_margin=</span><span class="s3">&quot;12dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/layout_corner&quot;</span><span class="s2">&gt; 
 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;How would you rate the event on a five star scale ?&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;25sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:minHeight=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/questionColor&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">RatingBar</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:rating=</span><span class="s3">&quot;0&quot;</span><span class="s2"> 
                </span><span class="s1">android:isIndicator=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
                </span><span class="s1">android:stepSize=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/ratingBar&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:numStars=</span><span class="s3">&quot;5&quot;</span><span class="s2">/&gt; 
 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/singleChoicePrev&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_margin=</span><span class="s3">&quot;12dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/layout_corner&quot;</span><span class="s2">&gt; 
 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;How would you rate the event on a five star scale ?&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;25sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:minHeight=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/questionColor&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">RadioGroup</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:minWidth=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2">&gt; 
                &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2"> 
                    </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
                    &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                        </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 1&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
                    &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                        </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 2&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
                &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
                &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;end&quot;</span><span class="s2"> 
                    </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
                    &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                        </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 3&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
                    &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                        </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 4&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
                &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
            &lt;/</span><span class="s4">RadioGroup</span><span class="s2">&gt; 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_margin=</span><span class="s3">&quot;7dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:elevation=</span><span class="s3">&quot;7dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/smileyPrev&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/layout_corner&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2">&gt; 
 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;How would you rate the event on a five star scale ?&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;25sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:minHeight=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/questionColor&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:minWidth=</span><span class="s3">&quot;350dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
 
                &lt;</span><span class="s4">ImageButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                    </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
                    </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/excellent&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bExcellent&quot;</span><span class="s2"> 
                    </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarButtonStyle&quot;</span><span class="s2"> 
                    </span><span class="s1">android:background=</span><span class="s3">&quot;#00000000&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">ImageButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                    </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
                    </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/good&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bGood&quot;</span><span class="s2"> 
                    </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarButtonStyle&quot;</span><span class="s2"> 
                    </span><span class="s1">android:background=</span><span class="s3">&quot;#00000000&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2">/&gt; 
                &lt;</span><span class="s4">ImageButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                    </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
                    </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/average&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bAverage&quot;</span><span class="s2"> 
                    </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarButtonStyle&quot;</span><span class="s2"> 
                    </span><span class="s1">android:background=</span><span class="s3">&quot;#00000000&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">ImageButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                    </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
                    </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/poor&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bPoor&quot;</span><span class="s2"> 
                    </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarButtonStyle&quot;</span><span class="s2"> 
                    </span><span class="s1">android:background=</span><span class="s3">&quot;#00000000&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2">/&gt; 
 
 
            &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_margin=</span><span class="s3">&quot;12dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/dichotPrev&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/layout_corner&quot;</span><span class="s2">&gt; 
 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;How would you rate the event on a five star scale ?&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;25sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:minHeight=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/questionColor&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">RadioGroup</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt; 
 
                &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;Yes&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;30sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bYes&quot;</span><span class="s2"> 
                    </span><span class="s1">android:checked=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                    /&gt; 
 
                &lt;</span><span class="s4">RadioButton</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;No&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;30sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bNo&quot;</span><span class="s2"> 
                    </span><span class="s1">android:checked=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                    /&gt; 
 
            &lt;/</span><span class="s4">RadioGroup</span><span class="s2">&gt; 
 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/checklistPrev&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_margin=</span><span class="s3">&quot;12dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/layout_corner&quot;</span><span class="s2">&gt; 
 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;How would you rate the event on a five star scale ?&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;25sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:minHeight=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/questionColor&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
                &lt;</span><span class="s4">CheckBox</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
                &lt;</span><span class="s4">CheckBox</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 2&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
            &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
            &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
                &lt;</span><span class="s4">CheckBox</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 3&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
                &lt;</span><span class="s4">CheckBox</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:hint=</span><span class="s3">&quot;Option 4&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;buttonClicked&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.5&quot;</span><span class="s2">/&gt; 
            &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Submit&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/btAddQuestion&quot;</span><span class="s2">/&gt; 
 
    &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
 
&lt;/</span><span class="s4">android.support.design.widget.CoordinatorLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>