<html>
<head>
<title>company_details.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
company_details.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">ScrollView </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
&lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
    </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot; </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:focusableInTouchMode=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
    </span><span class="s1">android:focusable=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">EditText</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/name&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;textCapWords&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;@string/company_details_namehint&quot;</span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">EditText</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/description&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;textCapSentences&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;@string/company_details_deschint&quot;</span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">EditText</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/phone&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;phone&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;@string/company_details_phonehint&quot;</span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">EditText</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;phone&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/fax&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;@string/company_details_faxhint&quot;</span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">EditText</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;textEmailAddress&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/email&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;@string/company_details_emailhint&quot;</span><span class="s2">/&gt; 
 
 
    &lt;</span><span class="s4">EditText</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/address&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;textCapSentences&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;@string/company_details_addhint&quot;</span><span class="s2">/&gt; 
 
    &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bSubmit&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Create Company&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;#FFFFFF&quot;</span><span class="s2"> 
        </span><span class="s1">android:textSize=</span><span class="s3">&quot;22sp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:paddingStart=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:paddingEnd=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/buttonshape&quot;</span><span class="s2"> 
        </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot; </span><span class="s2">/&gt; 
 
&lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
&lt;/</span><span class="s4">ScrollView</span><span class="s2">&gt;</span></pre>
</body>
</html>