<html>
<head>
<title>form_creating.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
form_creating.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">android.support.design.widget.CoordinatorLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;#e4e4e4&quot;</span><span class="s2"> 
    </span><span class="s1">android:fitsSystemWindows=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.elegance.feedback.MainActivity&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">android.support.design.widget.AppBarLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:theme=</span><span class="s3">&quot;@style/AppTheme.AppBarOverlay&quot;</span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">RelativeLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:focusableInTouchMode=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:focusable=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_centerVertical=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2">&gt; 
            &lt;</span><span class="s4">ScrollView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
                &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                    </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/layout_form&quot;</span><span class="s2"> 
                    </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/layout_corner&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">&gt; 
                    &lt;</span><span class="s4">Spinner</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/spinnerCompany&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">/&gt; 
 
                    &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2">&gt; 
 
                        &lt;</span><span class="s4">ImageButton</span><span class="s2"> 
                            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/fabForm&quot;</span><span class="s2"> 
                            </span><span class="s1">android:padding=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                            </span><span class="s1">android:background=</span><span class="s3">&quot;@android:drawable/ic_input_add&quot; </span><span class="s2">/&gt; 
 
 
                        &lt;</span><span class="s4">Button</span><span class="s2"> 
                            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/prev&quot;</span><span class="s2"> 
                            </span><span class="s1">android:text=</span><span class="s3">&quot;Preview&quot;</span><span class="s2"> 
                            </span><span class="s1">android:textColor=</span><span class="s3">&quot;#FFFFFF&quot;</span><span class="s2"> 
                            </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                            </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                            </span><span class="s1">android:textSize=</span><span class="s3">&quot;22sp&quot;</span><span class="s2"> 
                            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;130dp&quot;</span><span class="s2"> 
                            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
                            </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                            </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/buttonshape&quot;</span><span class="s2"> 
                            </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot; </span><span class="s2">/&gt; 
 
                    &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
                    &lt;</span><span class="s4">EditText</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/edUnique&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                        </span><span class="s1">android:inputType=</span><span class="s3">&quot;phone&quot;</span><span class="s2"> 
                        </span><span class="s1">android:hint=</span><span class="s3">&quot;Enter the Unique Id for form&quot;</span><span class="s2">/&gt; 
 
 
                    &lt;</span><span class="s4">Button</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/saveForm&quot;</span><span class="s2"> 
                        </span><span class="s1">android:text=</span><span class="s3">&quot;Save The Form&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textColor=</span><span class="s3">&quot;#FFFFFF&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textSize=</span><span class="s3">&quot;22sp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingStart=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingEnd=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/buttonshape&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot; </span><span class="s2">/&gt; 
 
 
                    &lt;</span><span class="s4">EditText</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/edPin&quot;</span><span class="s2"> 
                        </span><span class="s1">android:inputType=</span><span class="s3">&quot;phone&quot;</span><span class="s2"> 
                        </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                        </span><span class="s1">android:hint=</span><span class="s3">&quot;Enter Pin&quot;</span><span class="s2">/&gt; 
 
 
                    &lt;</span><span class="s4">Button</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/GeneratePin&quot;</span><span class="s2"> 
                        </span><span class="s1">android:text=</span><span class="s3">&quot;Generate Pin&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textColor=</span><span class="s3">&quot;#FFFFFF&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textSize=</span><span class="s3">&quot;22sp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingStart=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingEnd=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/buttonshape&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot; </span><span class="s2">/&gt; 
 
                    &lt;</span><span class="s4">Button</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bLoadForm&quot;</span><span class="s2"> 
                        </span><span class="s1">android:text=</span><span class="s3">&quot;Load Form&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textColor=</span><span class="s3">&quot;#FFFFFF&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textSize=</span><span class="s3">&quot;22sp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingStart=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingEnd=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/buttonshape&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot; </span><span class="s2">/&gt; 
 
 
                &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
            &lt;/</span><span class="s4">ScrollView</span><span class="s2">&gt; 
            &lt;</span><span class="s4">android.support.design.widget.FloatingActionButton</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/briefcase&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bCreateCompany&quot;</span><span class="s2">/&gt; 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Create Company&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;7dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;15sp&quot; </span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            &gt; 
 
            &lt;</span><span class="s4">RelativeLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2">&gt; 
                &lt;</span><span class="s4">Button</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:inputType=</span><span class="s3">&quot;none&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bSurveyOne&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;25sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;Generate\nPin&quot;</span><span class="s2"> 
                    </span><span class="s1">android:elevation=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                    </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/survey_button_one&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#ffffff&quot;</span><span class="s2"> 
                    /&gt; 
 
                &lt;</span><span class="s4">Button</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:inputType=</span><span class="s3">&quot;none&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_toRightOf=</span><span class="s3">&quot;@id/bSurveyOne&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_toEndOf=</span><span class="s3">&quot;@id/bSurveyOne&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;25sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:elevation=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;Create\nForm&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bSurveyTwo&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#ffffff&quot;</span><span class="s2"> 
                    </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/survey_button_two&quot; </span><span class="s2">/&gt; 
 
                &lt;</span><span class="s4">Button</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:inputType=</span><span class="s3">&quot;none&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@id/bSurveyOne&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;25sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:elevation=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;Load\nForm&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bSurveyThree&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#ffffff&quot;</span><span class="s2"> 
                    </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/survey_button_three&quot; </span><span class="s2">/&gt; 
 
            &lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt; 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
    &lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt; 
 
 
&lt;/</span><span class="s4">android.support.design.widget.CoordinatorLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>