<html>
<head>
<title>preview.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
preview.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">LinearLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">app:layout_behavior=</span><span class="s3">&quot;@string/appbar_scrolling_view_behavior&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.elegance.understanding_toolbar.MainActivity&quot;</span><span class="s2"> 
    </span><span class="s1">tools:showIn=</span><span class="s3">&quot;@layout/preview_container&quot;</span><span class="s2">&gt; 
 
 
 
    &lt;</span><span class="s4">ScrollView</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
    &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:focusable=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@color/themeColor&quot;</span><span class="s2"> 
        </span><span class="s1">android:focusableInTouchMode=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot; </span><span class="s2">&gt; 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Saurav Solutions&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;#263238&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;35sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvCompanyName&quot;</span><span class="s2"> 
                </span><span class="s1">android:minWidth=</span><span class="s3">&quot;300dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;500dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                /&gt; 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Cabs to trust&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;#0057A0&quot;</span><span class="s2"> 
                </span><span class="s1">android:minWidth=</span><span class="s3">&quot;300dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvCompanyDesc&quot;</span><span class="s2"> 
                </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;500dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                /&gt; 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;2383 Park Avenue Jeffersonville, IN 47130&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;#5E2C0B&quot;</span><span class="s2"> 
                </span><span class="s1">android:minWidth=</span><span class="s3">&quot;300dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvCompanyAdd&quot;</span><span class="s2"> 
                </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;500dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;18sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;start|left&quot;</span><span class="s2"> 
                /&gt; 
 
            &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt; 
 
                &lt;</span><span class="s4">TextView</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;16sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;jodiwaljay@cabme.in&quot;</span><span class="s2"> 
                    </span><span class="s1">android:minWidth=</span><span class="s3">&quot;150dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#303030&quot;</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvCompanyEmail&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;start|left&quot;</span><span class="s2"> 
                    </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;250dp&quot;</span><span class="s2"> 
                    /&gt; 
 
                &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                    </span><span class="s1">android:minWidth=</span><span class="s3">&quot;350dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                    </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2">&gt; 
 
                    &lt;</span><span class="s4">TextView</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:text=</span><span class="s3">&quot;+917737138973&quot;</span><span class="s2"> 
                        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;150dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;250dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;end|right&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textSize=</span><span class="s3">&quot;16sp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textColor=</span><span class="s3">&quot;#303030&quot;</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvPhone&quot;</span><span class="s2"> 
                        </span><span class="s1">android:gravity=</span><span class="s3">&quot;end|right&quot;</span><span class="s2"> 
                        /&gt; 
                    &lt;</span><span class="s4">TextView</span><span class="s2"> 
                        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                        </span><span class="s1">android:text=</span><span class="s3">&quot;Fax : 011-97894276&quot;</span><span class="s2"> 
                        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;150dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;end|right&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textSize=</span><span class="s3">&quot;16sp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvFax&quot;</span><span class="s2"> 
                        </span><span class="s1">android:textColor=</span><span class="s3">&quot;#303030&quot;</span><span class="s2"> 
                        </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;250dp&quot;</span><span class="s2"> 
                        </span><span class="s1">android:gravity=</span><span class="s3">&quot;end|right&quot;</span><span class="s2"> 
                        /&gt; 
                &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
            &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/fragment_container&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot; </span><span class="s2">/&gt; 
 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_margin=</span><span class="s3">&quot;7dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:elevation=</span><span class="s3">&quot;7dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/layout_corner&quot;</span><span class="s2">&gt; 
 
 
            &lt;</span><span class="s4">EditText</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;22sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:lines=</span><span class="s3">&quot;5&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColorHint=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/etComments&quot;</span><span class="s2"> 
                </span><span class="s1">android:hint=</span><span class="s3">&quot;// Please write your valuable comments here&quot;</span><span class="s2">&gt; 
            &lt;/</span><span class="s4">EditText </span><span class="s2">&gt; 
 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/layout_contact_back&quot;</span><span class="s2">&gt; 
 
 
            &lt;</span><span class="s4">EditText</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;18sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:inputType=</span><span class="s3">&quot;textCapWords&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:minWidth=</span><span class="s3">&quot;150dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:lines=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/etUserName&quot;</span><span class="s2"> 
                </span><span class="s1">android:hint=</span><span class="s3">&quot;Your Name&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">EditText</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;18sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:minWidth=</span><span class="s3">&quot;150dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:lines=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:inputType=</span><span class="s3">&quot;phone&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/etUserPhone&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:hint=</span><span class="s3">&quot;Phone no.&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">EditText</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;18sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:minWidth=</span><span class="s3">&quot;180dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:lines=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                </span><span class="s1">android:inputType=</span><span class="s3">&quot;textEmailAddress&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/etUserEmail&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:hint=</span><span class="s3">&quot;Your Email Address&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">EditText</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:textSize=</span><span class="s3">&quot;18sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:lines=</span><span class="s3">&quot;3&quot;</span><span class="s2"> 
                </span><span class="s1">android:inputType=</span><span class="s3">&quot;textCapSentences&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/etUserAddress&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal|center_vertical&quot;</span><span class="s2"> 
                </span><span class="s1">android:hint=</span><span class="s3">&quot;Address&quot;</span><span class="s2">/&gt; 
 
 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bSubmitFeedback&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Submit&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:textColor=</span><span class="s3">&quot;#FFFFFF&quot;</span><span class="s2"> 
            </span><span class="s1">android:textSize=</span><span class="s3">&quot;22sp&quot;</span><span class="s2"> 
            </span><span class="s1">android:visibility=</span><span class="s3">&quot;gone&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;130dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/buttonshape&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot; </span><span class="s2">/&gt; 
 
    &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
&lt;/</span><span class="s4">ScrollView</span><span class="s2">&gt; 
&lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>