<html>
<head>
<title>smiley_layout.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
smiley_layout.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">ScrollView </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/content&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
    </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
    &gt; 
 
    &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_margin=</span><span class="s3">&quot;7dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:elevation=</span><span class="s3">&quot;7dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/layout_corner&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2">&gt; 
 
 
        &lt;</span><span class="s4">TextView</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:maxWidth=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/test&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;How would you rate the event on a five star scale ?&quot;</span><span class="s2"> 
            </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:textSize=</span><span class="s3">&quot;25sp&quot;</span><span class="s2"> 
            </span><span class="s1">android:minHeight=</span><span class="s3">&quot;75dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/questionColor&quot;</span><span class="s2">/&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:minWidth=</span><span class="s3">&quot;250dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
 
            &lt;</span><span class="s4">ImageButton</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
                </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/excellent&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bExcellent&quot;</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarButtonStyle&quot;</span><span class="s2"> 
                </span><span class="s1">android:background=</span><span class="s3">&quot;#00000000&quot;</span><span class="s2"> 
                </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">ImageButton</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
                </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/good&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bGood&quot;</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarButtonStyle&quot;</span><span class="s2"> 
                </span><span class="s1">android:background=</span><span class="s3">&quot;#00000000&quot;</span><span class="s2"> 
                </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2">/&gt; 
            &lt;</span><span class="s4">ImageButton</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
                </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/average&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bAverage&quot;</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarButtonStyle&quot;</span><span class="s2"> 
                </span><span class="s1">android:background=</span><span class="s3">&quot;#00000000&quot;</span><span class="s2"> 
                </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">ImageButton</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                </span><span class="s1">android:scaleType=</span><span class="s3">&quot;fitCenter&quot;</span><span class="s2"> 
                </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/poor&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/bPoor&quot;</span><span class="s2"> 
                </span><span class="s1">style=</span><span class="s3">&quot;?attr/buttonBarButtonStyle&quot;</span><span class="s2"> 
                </span><span class="s1">android:background=</span><span class="s3">&quot;#00000000&quot;</span><span class="s2"> 
                </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2">/&gt; 
 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
        &lt;</span><span class="s4">LinearLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt; 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvExcellent&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Excellent&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvGood&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Good&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvAverage&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Average&quot;</span><span class="s2">/&gt; 
 
            &lt;</span><span class="s4">TextView</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;0.25&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/colorAccent&quot;</span><span class="s2"> 
                </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tvPoor&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;Poor&quot;</span><span class="s2">/&gt; 
 
        &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
    &lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt; 
 
 
&lt;/</span><span class="s4">ScrollView</span><span class="s2">&gt;</span></pre>
</body>
</html>