<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elegance.feedback"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_feedback"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Form_Creation"
            android:label="Take Back"
            android:icon="@drawable/icon_feedback"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label=" "
            android:icon="@drawable/icon_feedback"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.elegance.feedback.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".upload_feedbacks"
            android:label=" "
            android:icon="@drawable/icon_feedback"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.elegance.feedback.UPLOAD_FEEDBACKS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Take_another"
            android:label=" "
            android:icon="@drawable/icon_feedback"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.elegance.feedback.TAKE_ANOTHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".AskCompanyDetails"
            android:label="Create Company"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.elegance.feedback.ASKCOMPANYDETAILS"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".preview"
            android:label="Help us do better"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.elegance.feedback.PREVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Load_Form"
            android:label="Help us do better"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.elegance.feedback.LOAD_FORM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ChooseType"
            android:label="Choose Type"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.elegance.feedback.CHOOSETYPE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".AddQuestion"
            android:label="Add Question"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.elegance.feedback.ADDQUESTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>
